<section id="scrolling">
    <div class="container">        
        <div class="row dices">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2">
                    <div class="dice">
                        <div class="dice-img">
                            <div class="wrapper-img-dice">
                                <img src="../../../../img/aurora.png">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dado-um" name="dado-um" class="form-control dice-value" maxlength="1" required pattern="[1-6]{1}" data-bind="textInput: dice1">                
                            </div>
                        </div>                            
                    </div>
                </div> 
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="dice">
                        <div class="dice-img">
                            <div class="wrapper-img-dice">
                                <img src="../../../../img/aurora.png">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dado-dois" name="dado-dois" class="form-control dice-value" maxlength="1" required pattern="[1-6]{1}" data-bind="textInput: dice2">                
                            </div>
                        </div>                            
                    </div>
                </div> 
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="dice">
                        <div class="dice-img">
                            <div class="wrapper-img-dice">
                                <img src="../../../../img/aurora.png">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dado-tres" name="dado-tres" class="form-control dice-value" maxlength="1" required pattern="[1-6]{1}" data-bind="textInput: dice3">                
                            </div>
                        </div>                            
                    </div>
                </div>     
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="dice">
                        <div class="dice-img">
                            <div class="wrapper-img-dice">
                                <img src="../../../../img/aurora.png">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dado-quatro" name="dado-quatro" class="form-control dice-value" maxlength="1" required pattern="[1-6]{1}" data-bind="textInput: dice4">                  
                            </div>
                        </div>                            
                    </div>
                </div> 
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="dice">
                        <div class="dice-img">
                            <div class="wrapper-img-dice">
                                <img src="../../../../img/aurora.png">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dado-cinco" name="dado-cinco" class="form-control dice-value" maxlength="1" required pattern="[1-6]{1}" data-bind="textInput: dice5">                
                            </div>
                        </div>                            
                    </div>
                </div>                                               
            </div>                
        </div>            
    </div> 

    <div class="row text">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="col-xs-4 col-sm-4 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
                <button class="btn btn-lg btn-primary" data-bind="click:clean">Limpar</button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <button class="btn btn-lg btn-primary" data-bind="click:randon">Rolar</button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <button class="btn btn-lg btn-success" data-bind="enable:canSend()">Enviar</button>
            </div>                    
        </div>                
    </div> 
</section> 